:root{
    --blanco:#ffffff;
    --oscuro: #525558;
    --primario: #F4D03F;
    --secundario: #16141b;
    --primclaro:#FCF3CF;
    --grisclaro: #DFE9F3;
    --obscfuerte:#17202A;
    --naranja:#E95833;
    --moradologo: #9A43C2;
    --morado:#41436A;
    --azul:#212272;
    --grisaceo:#203864;
    --grismedio:#9A9FC6;
    --semiobscuro:#16141B;
    --fuentePrincipal:'krub', cursive;
    --fuentenumber: 'Fascinate Inline', cursive;
    --Fuentetype: 'Acme', sans-serif;
    --Fuentesec: 'Shadows Into Light', cursive;
    --otrafuente: 'Poppins';
}

.social-bar{
    position: fixed;
    right: 0;
    top: 50%;
    font-size: .2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}

.icon{
    color: white;
    text-decoration: none;
    padding: .2rem;
    display: flex;
    transition: all .5s;
}

.icon-facebook{
    background: var(--secundario);
}

.icon-instagram{
    background: var(--secundario);
}

.icon-github{
    background: var(--secundario);
}

.icon-linkedin{
    background: var(--secundario);
}

.icon-medium{
    background: var(--secundario);
}

.icon:first-child{
    border-radius: 1rem 0 0 0;
}

.icon:last-child{
    border-radius: 1 1 1 1rem;
}