*{
  margin: 0;
  padding: 0;
}

:root{
  --blanco:#ffffff;
  --oscuro: #525558;
  --primario: #F4D03F;
  --secundario: #16141b;
  --primclaro:#FCF3CF;
  --grisclaro: #DFE9F3;
  --obscfuerte:#17202A;
  --morado:#41436A;
  --azul:#212272;
  --grisaceo:#203864;
  --grismedio:#9A9FC6;
  --semiobscuro:#16141B;
  --fuentePrincipal:'krub', cursive;
  --fuentenumber: 'Fascinate Inline', cursive;
  --Fuentetype: 'Acme', sans-serif;
  --Fuentesec: 'Shadows Into Light', cursive;
  --otrafuente: 'Poppins';
}

@font-face{
  font-family: var(--fuentenumber)
}

body{
  font-family: var(--Fuentetype);
  color: var(--morado);
  background-color: var(--semiobscuro);
  background-image: linear-gradient(to top, var(--grismedio) 0%, var(--secundario) 100%); /* Asi se usa el degradado  **/
}

a{
  text-decoration: none;
  color: var(--blanco);
  font-family: var(--otrafuente);
  text-shadow: var(--grisaceo);
}

/* Estilos para el Nav */
.nav{
  background-color: var(--secundario);
  background-image: url('../src/assets/imgs/logoprincipal.png');
  background-repeat: no-repeat;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(48, 40, 40);
  position: fixed;
  z-index: 4;
  width: 100%;
  top: 0;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.4);
  -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.4);
  box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.4);
  font-size: medium;
}

.nav h1{
  font-family: var(--otrafuente);
  padding-top: 5px;
  color: #ffffff;
}

.nav a{
  font-weight: 300;
}

.nav img{
  height: 20%;
  width: 20%;
  padding: 10px;
}

.right-container{
  display: flex;
  align-items: center;
  border-radius: 50%;
}

.links-container{
  width: 300px;
  padding: 2px;
  margin-left: 20px;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  font-family: var(--otrafuente);
}

.links-container a:hover{
  color: var(--secundario);
}

input[type=text] {
  padding: 6px;
  font-size: 17px;
  text-shadow: #16141B;
}

.search-container  {
  background: #ddd;
  font-size: 10px;
  cursor: pointer;
  margin-left: 800px;
  font-family: var(--otrafuente);
}

.topnav .search-container button:hover {
  background: #ccc;
}

input{
  cursor: pointer;
}

.menu-toggle{
  visibility: hidden;
}

@media only screen and (max-width: 850px) {
  .menu-toggle{
    visibility: visible;
    font-size: 2rem;
    margin-right: 1rem;
    cursor: pointer;
  }
  
  .right-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #333333;
    width: 0;
    height: 100px;
    overflow: hidden;
    transition: all .3s ease-in-out;

  }

  .showMenu{
    width: 100%;
  }

  .search-container{
    margin-right: 700px;
    border-radius: 50px;
  }
}