:root{
    --blanco:#ffffff;
    --oscuro: #525558;
    --primario: #F4D03F;
    --secundario: #16141b;
    --primclaro:#FCF3CF;
    --grisclaro: #DFE9F3;
    --obscfuerte:#17202A;
    --naranja:#E95833;
    --moradologo: #9A43C2;
    --morado:#41436A;
    --azul:#212272;
    --grisaceo:#203864;
    --grismedio:#9A9FC6;
    --semiobscuro:#16141B;
    --fuentePrincipal:'krub', cursive;
    --fuentenumber: 'Fascinate Inline', cursive;
    --Fuentetype: 'Acme', sans-serif;
    --Fuentesec: 'Shadows Into Light', cursive;
    --otrafuente: 'Poppins';
  }
.item-container{
    background-color: var(--grisclaro);
    width: 200px;
    height: 200px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: #000 5px 10px 15px;
    transition: transform .3s ease-in-out;
    position: relative;
    z-index: 3;
    font-family: var(--otrafuente);
    color: var(--grisaceo);
}

.item-container:hover{
    transform: scale(1.08);
}

.img-item{
    width: 160px;
    height: 160px;
    position: relative;
    justify-items: center;
    color: none;
    border-radius: 10px;
}

.item-container img{
    width: 170px;
    height: 150px;
    object-fit: cover;
    position:absolute;
    justify-items: center;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.4);
	-moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.4);
	box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.4);
}

.info-item{
    text-align: center;
    text-transform: lowercase;
    position: relative;
    font-weight: 10px;
    font-family: var(--otrafuente);
    font-stretch: semi-condensed;
    line-height: 18px;
    color: var(--naranja);
}
.info-item p:first-letter {
    text-transform: uppercase;
}

.price{
    color: var(--moradologo);
    font-weight: 10px;
    font-family: var(--otrafuente);
    font-weight: bold;
}

.hover-container{
    background-image: linear-gradient(rgba(69, 65, 65, 0.637), rgba(37, 35, 35, 0.637));
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: all .3s ease-in-out;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    border-radius: 15px;
}

.item-container:hover .hover-container{
    opacity: 1;
}

.hover{
    position: absolute;
    top: 10px;
    left: 10px;
    color: var(--blanco);
    font-size: 1.3rem;
}

.title-hover{
    font-weight: 7px;
    position: relative;
    line-height: 10px;
    font-weight: bold;
    color: var(--semiobscuro);
    text-shadow:.10px .10px .10px var(--secundario) ;
}


.item-button{
    text-decoration: none;
    font-weight: 16px;
    font-size: 20px;
    color: #333333;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: var(--grismedio);
    border-color: #D8D8D8;
    border-width: 3PX;
    border-style: solid;
    border-radius: 35px;
    margin:10px;
}

button{
    cursor: pointer;
}

