:root{
    --blanco:#ffffff;
    --oscuro: #525558;
    --primario: #F4D03F;
    --secundario: #16141b;
    --primclaro:#FCF3CF;
    --grisclaro: #DFE9F3;
    --obscfuerte:#17202A;
    --morado:#41436A;
    --azul:#212272;
    --grisaceo:#203864;
    --grismedio:#9A9FC6;
    --semiobscuro:#16141B;
    --fuentePrincipal:'krub', cursive;
    --fuentenumber: 'Fascinate Inline', cursive;
    --Fuentetype: 'Acme', sans-serif;
    --Fuentesec: 'Shadows Into Light', cursive;
    --otrafuente: 'Poppins';
    --nuevofondo: #011024;
    --nuevoazul: #5DCBDB;
    --nuevoamarillo: #F6B933;
    --nuevogris: #E2DACF;
    --nvogrisobs: #9B9892;
    --nuevoopasi: #011024;
    --chocolate: #573826;
}

.product{
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 80vw;
    height: 50%;
    margin-bottom: 1rem;
}

.product:hover{
    height: 55%;
}


.img-product{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.img-product img{
    border-radius: 20px;
    height: auto;
}

.img-product:hover{
    width: 45%;
}

.product-info{
    background-color: none;
    color: var(--blanco);
    font-family: var(--otrafuente);
    font-size: 14px;
    padding: 100px;
    width: 40%;
    height: 20%;
    border-radius: 20px;
}

.product-info:hover{
    text-shadow:0 .5px .5px rgb #0000;
    font-size: 18px;
}

.product-desc{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.product-cat{
    margin-bottom: 1rem;
}

.product-name{
    font-size: 18px;
    font-family: var(--otrafuente);
    font-weight: bold;
}

.product-price{
    color: var(--nuevoamarillo);
    font-weight: bold;
    font-size: 18px;
    font-family: var(--otrafuente);
}

.bold{
    font-weight: bold;
}

.product-button {
	background-color:var(--nuevogris);
	border-radius:28px;
	border:1px solid var(--nuevoamarillo);
	display:inline-block;
	cursor:pointer;
	color: var(--nuevofondo);
	font-family: var(--otrafuente);
	font-size:18px;
	padding:10px 20px;
	text-decoration:none;
    margin-top: 2rem;
}

.product-button:hover {
	background-color: var(--nuevoazul);
}


.product-button:active {
	position:relative;
	top:1px;
}

@media only screen and (max-width: 800px) {
    .product{
        flex-direction: column-reverse;
        width: 90vw;
        margin-bottom: 2rem;
    }

    .img-product{
        width: 100%;
    }

    .product-info{
        width: calc(100% - 30px);
        padding: 10px;
        font-family: var(--otrafuente);
    }
  }