*{
    margin: 0;
    padding: 0;
}
  
:root{
    --blanco:#ffffff;
    --oscuro: #525558;
    --primario: #F4D03F;
    --secundario: #16141b;
    --primclaro:#FCF3CF;
    --grisclaro: #DFE9F3;
    --obscfuerte:#17202A;
    --morado:#41436A;
    --azul:#212272;
    --grisaceo:#203864;
    --grismedio:#9A9FC6;
    --semiobscuro:#16141B;
    --fuentePrincipal:'krub', cursive;
    --fuentenumber: 'Fascinate Inline', cursive;
    --Fuentetype: 'Acme', sans-serif;
    --Fuentesec: 'Shadows Into Light', cursive;
    --otrafuente: 'Poppins';
    --nuevofondo: #011024;
    --nuevoazul: #5DCBDB;
    --nuevoamarillo: #F6B933;
    --nuevogris: #E2DACF;
    --nvogrisobs: #9B9892;
    --nuevoopasi: #011024;
}